registry=http://npm.reporangler.com

# see: https://docs.npmjs.com/using-private-packages-in-a-ci-cd-workflow
# For authenticated repositories, login and set the auth token like this
#registry=http://npm.reporangler.com/:_authToken=${NPM_TOKEN}
